* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: sans-serif;
}
h1,
.btns {
  text-align: center;
}
.btn {
  margin: 8px;
  cursor: pointer;
  background-color: darkorchid;
  color: white;
  font-size: 18px;
}
.active {
  background-color: blue;
}
.home {
  max-width: 1440px;
  padding: 50px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}
.box {
  width: 48%;
}
.img {
  width: 30%;
}
.box_item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.right {
  width: 70%;
  padding: 5px;
}
.right_top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.tur {
  display: inline-block;
  padding: 5px;
  background-color: pink;
  margin: 6px 0;
}
.matn {
  margin: 10px 0;
}

@media (max-width: 900px) {
  .right {
    width: 100%;
  }
  .img {
    display: block;
    margin: auto;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .box {
    width: 100%;
  }
}
